backoff==2.2.1
InquirerPy==0.3.4
lxml==4.9.3
openai==0.27.8
playwright==1.40.0
jsonlines==4.0.0
numpy==1.26.4
sentence_transformers==3.3.1
torch==2.6.0
protobuf==4.25.1
BeautifulSoup4==4.12.3
tomli==2.0.1
tomlkit==0.12.3
langchain==0.3.18
langchain-community==0.3.17
langchain-openai==0.3.4
langchain-anthropic==0.3.7
langchain-google-genai==2.0.9
langchain-experimental==0.3.4
faiss-cpu
markdownify==0.11.6
